.ScrollButtonWrapper {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  z-index: 1010;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
}

.ScrollButtonWrapper.visible {
  opacity: 0.8;
}

.ScrollButton {
  font-size: 3rem;
  cursor: pointer;
  color: var(--tropo-footer-btn);
  transition: color 0.3s;
}

.ScrollButton .fa-circle-arrow-up {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.6));
}

.ScrollButton:hover {
  color: var(--tropo-accent-hover);
}
