#
# App name (do not change)
#

VITE_APP_NAME="tropobiblio"

#
# Data Provider
#
# (*) The data provider to use

VITE_DATA_PROVIDER="inventaire"

#
# Inventaire.io credentials
#
# Username or email, and password to access your inventory and private notes
#

VITE_INVENTAIRE_USER=""
VITE_INVENTAIRE_PASSWORD=""

#
# BOOKS
#
# Default: €

VITE_CURRENCY=€

#
# Private Notes field tags
#
# Custom tags to extract location (place), price, rating and genres from private notes
#

VITE_INVENTAIRE_FIELD_PLACE="place"
VITE_INVENTAIRE_FIELD_PRICE="price"
VITE_INVENTAIRE_FIELD_RATING="rating"
VITE_INVENTAIRE_FIELD_GENRES="genre"

#
# LED management
#
# Set to "yes" to enable physical LEDs on your ESP32 controller
#

VITE_SET_LEDS=no

# Default: 0,0,130

VITE_LEDS_CREATORS_COLOR=0,0,130

# Default: 0,150,0

VITE_LEDS_CATEGORIES_COLOR=0,150,0

# Default: 255,0,0

VITE_LEDS_WORK_COLOR=255,0,0

# LED controller server URL (only needed if VITE_SET_LEDS is "yes")
#
# The URL of your ESP32 LED controller server.

VITE_LED_TARGET=http://myesp32server:8000
