#
# App name (do not change)
#

VITE_APP_NAME="tropocine"

#
# Data Provider
#
# (*) The data provider to use

VITE_DATA_PROVIDER="tmdb"

#
# Currency symbol displayed for prices (default: €)
#

# VITE_CURRENCY="€"

#
# TMDB list ID
#
# The ID of one of your TMDB list (e.g., 8691537 or 8691537-my-list)
#

VITE_TMDB_LIST_ID=""

#
# (*) Your TMDB Bearer token.
#     Obtain initial Read Access Token at: https://www.themoviedb.org/settings/api
#     Then run `npm run auth:cine` to automatically upgrade it for write access.
#

TMDB_TOKEN=""

#
# LED strip management (optional)
#
# Set to "yes" to enable LED control via an ESP32 LED server.
# VITE_LED_TARGET: URL of your LED web server (e.g., http://127.0.0.1:8000)
# VITE_LEDS_CATEGORIES_COLOR: RGB color for category filter (0-255 each)
# VITE_LEDS_CREATORS_COLOR: RGB color for creator filter
# VITE_LEDS_WORK_COLOR: RGB color for item modal focus
#

VITE_SET_LEDS="no"
# VITE_LED_TARGET="http://127.0.0.1:8000"
# VITE_LEDS_CATEGORIES_COLOR="0,150,0"
# VITE_LEDS_CREATORS_COLOR="0,0,130"
# VITE_LEDS_WORK_COLOR="255,0,0"

# Default: no
#VITE_DEV_MODE=no
