#
# App name (do not change)
#

VITE_APP_NAME="tropocine"

#
# Data Provider
#
# (*) The data provider to use

VITE_DATA_PROVIDER="tmdb"

#
# TMDB list ID
#
# The ID of one of your TMDB list (e.g., 8691537 or 8691537-my-list)
#

VITE_TMDB_LIST_ID=""

#
# (*) Your TMDB token.
#     (https://developer.themoviedb.org/docs/getting-started)

TMDB_TOKEN=""

#
# No LED management for now.
#

VITE_SET_LEDS="no"
