#
# App name (do not change)
#
VITE_APP_NAME="tropoaudio"

#
# Data Provider
#
# (*) The data provider to use

VITE_DATA_PROVIDER="discogs"

#
# DISCOGS AUTH
#
# (*) Your Discogs user.

VITE_DISCOGS_USER=

# (*) Your Discogs token.
#     (https://www.discogs.com/developers#page:authentication)

DISCOGS_TOKEN=

#
# ALBUMS
#
# Default: €

VITE_CURRENCY=€

# Media formats to take into account.
#
# -> Must be a correct Discogs format, lower case.
#   (https://www.discogs.com/fr/help/formatslist)
#
# Example:
#   - vinyl
#   - vinyl,cd,cassette,sacd
#
# Default: all

VITE_DISCOGS_FORMATS=all

#
# DISCOGS USER CUSTOM FIELDS
#
# (https://support.discogs.com/hc/en-us/articles/360007331674-Customizing-Your-Collection-Notes)
#
# TropoAudio automatically looks for the following custom fields created on Discogs:
#   - "place": Physical shelf location (numeric value for LEDs)
#   - "price": Purchase price
#   - "categories": Custom album style tags (comma-separated)
#

# If "yes", only albums that have at least one custom field (place, price,
# or categories) will be displayed.
#
# Default: no

VITE_DISCOGS_FIELDS_REQUIRED=no

#
# LEDS
#
# If "yes", TropoAudio will try to contact your audio library
# server to control LEDs.
#
# This feature requires an embedded server on a microcontroller to
# control LED strips. However, if you are interested, do not
# hesitate to contact me :-) You can also take a look at the
# "firmware/led-controller/" directory.
#
# -> If "yes", do not forget to adapt VITE_LED_TARGET.
#
# Default: no
# -> You can leave it blank.

VITE_SET_LEDS=no

# Default: 0,0,130

VITE_LEDS_CREATORS_COLOR=0,0,130

# Default: 0,150,0

VITE_LEDS_CATEGORIES_COLOR=0,150,0

# Default: 255,0,0

VITE_LEDS_WORK_COLOR=255,0,0

# LED controller server URL (only needed if VITE_SET_LEDS is "yes")
#
# The URL of your ESP32 LED controller server.

VITE_LED_TARGET=http://127.0.0.1:8000

# Default: no
VITE_DEV_MODE=no

#------------------------------------------------------------------
#
# Notes:
#
# (*) Value is required for this field.
#
